@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Almendra SC", serif;
}
:root{
    --col1:black;
    --col2:grey
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(white,grey);
    margin: 0;
    
}
.container{
    text-align: center;
    padding: 22px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
    border-radius: 10px;
    background: linear-gradient(grey,silver);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px  ;
}
h1{
   
    font-size: 35px;
    color:white;
}
#upload{
    display:none;
}

.custom-file{
    margin-top: 8px;
    padding: 10px 20px;
    font-size: 18px;
    background: linear-gradient(135deg,silver,black);
    color: white;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 4px;
}

.custom-file:hover{
    background: linear-gradient(135deg,black,silver);

}
.canvasContainer{
    display: none;
}

#canvas{
    width: 75%;
    max-width: 500px;
    max-height: 400x;
    border: 1px solid black;
    object-fit: contain;
}

.controls{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
label{
    font-size: 18px;
}
input[type="range"]{
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 4px;
    background: linear-gradient(140deg,silver,black,white,grey);
    opacity: 0.8;
    transition: opacity 0.2s;
    margin-bottom: 12px;
    
}
input[type = "range"]::-webkit-slider-thumb{
      -webkit-appearance: none;
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 50px;
      background: linear-gradient(135deg,silver,white,black);
      cursor: pointer;
      border: 1px solid grey;
    }
input[type = "range"]::-moz-range-thumb{
      width: 18px;
      height: 18px;
      border-radius: 50px;
      background: linear-gradient(135deg,silver,white,black);
      cursor: pointer;
      border: 1px solid grey;
    }
button{
    padding: 10px 20px;
    background: linear-gradient(135deg, grey,black);
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 5px;
    border:none;
    box-shadow: 1px 5px 8px rgba(0,0,0, 0.1);
    color: white;
}
button:hover{
    background: linear-gradient(135deg,black,grey);
}